@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.container {
  width: 990px;
}

/* Header */

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho {
  display: flex;
  justify-content: center;
  height: 100px;
}

.cabecalho-imagem {
  width: 150px;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: all ease 0.2s;
}

nav ul li a:hover {
  color: #FDB1BE;
}

/* Main */

main .conteudo-principal .container  {
  display: flex;
  align-items: center;
}

.conteudo {
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  justify-content: center;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 50px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
  cursor: pointer;
  transition: all ease 0.2s;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.conteudo-secundario .container {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  border-bottom: 0.4px solid #FFF2E7;
  padding-bottom: 48px;
}

.conteudo-secundario-titulo {
  
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
  text-align: center;
}

.conteudo_sercundário_espaçoso {
  display: flex;
  justify-content: center;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

.rodape {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.rodape .container p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}