@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    flex-wrap: wrap;
}

header img {
    height: 72px;
}

header nav {
    display: flex;
    gap: 32px;
}

header nav a {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

header nav a:hover {
    transition-duration: 0.4s;
    color: rgba(236, 214, 196, 0.53);
    cursor: pointer;

}

main {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.principal div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.principal h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.principal button {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.principal button:hover {
    transition-duration: 0.4s;
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}

.principal img {
    height: 430px;
}

.secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secundario h3 {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.secundario p {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

footer {
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}

footer img {
    height: 48px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width:600px) {
    main .principal div h1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        text-align: center;
    }

    main .principal div button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}